@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.moveIn-enter-active,
.moveIn-leave-active {
  transition: opacity 1s ease, transform 500ms ease-out;
  will-change: opacity, transform;
}
.moveIn-enter-from,
.moveIn-leave-to {
  opacity: 0;
  will-change: opacity, transform;
}

.moveIn-enter-from {
  transform: scale(0);
  will-change: transform, opacity;
}

.fadeIn {
  transition: opacity 1s, transfrom 250ms;
  transform: translateY(0%);
  opacity: 1;
  will-change: transform, opacity;
}

.fadeOut {
  transition: opacity 1s, transfrom 250ms;
  opacity: 0;
  transform: translateY(-10%);
  will-change: transform, opacity;
}
