:root {
  --primary-black: #0c0c0d;
  --primary-black-light: #14141d;
  --primary-white: #f2f2f2;

  --secondary-white: #aeb9c1;
  --secondary-black: #595f63;

  --accent: #f14d8c;
  --accent-light: #f69fc1;

  --accent-blue: #3688ee;
}
