.link {
  display: flex;
  align-items: center;
  gap: 8px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: v-bind(String(fontSize) + "px");

  text-decoration: none;
  transition: color 250ms;
  color: var(--primary-white);
}

.link:hover {
  transition: color 250ms;
  color: var(--accent-blue);
}
